.side-bar {
  display: flex;
  flex-direction: column;
  background-color: #7e99b8;
  padding: 2vh 2vw;
  /* overflow: scroll; */
  transition: 0.2s;
  max-height: calc(100vh - 6rem);

}

.side-bar:not(:hover) > .content-menu-side-bar > .menu-side-bar > .color-white {
  display: none;
  transition: 0.2s;
}
.moremenu-icon {
  align-self: center;
  margin-bottom: 10rem;
  margin-top: 2rem;
  transition: 0.2s;
}
.side-bar:hover > .moremenu-icon {
  display: none;
  transition: 0.2s;
}

.profile-content {
  margin-bottom: 30px;
  transition: 0.2s;
  margin-top: 5rem;
}

.side-bar:not(:hover) > .profile-content {
  display: none;
  transition: 0.2s;
 
}
.content-menu-side-bar {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  transition: 0.2s;
}

.menu-side-bar {
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}

@media only screen and (max-width: 600px) {
  /* For Mobile: */
  .menu-side-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  .profile-content {
    margin: 0;
    padding: 0.2rem;
  }
  .moremenu-icon {
    margin: 0;
    width: 1.5rem;
    height: 1rem;
  }
  .side-bar:not(:hover) > .content-menu-side-bar > .menu-side-bar {
    display: none;
    transition: 0.2s;
  }
}
