.calendarscreen{
    align-self: center;
}


@media screen and (min-width: 375px) {
    .custom-width {
        width: 40rem;
    }
}

@media screen and (min-width: 1300px) {
    .custom-width {
        width: 50%;
    }
}